<section
  class="min-h-screen bg-[#fddede] flex flex-col md:flex-row items-center justify-center px-8 md:px-20 py-16 gap-10"
>
  <!-- Imagen -->
  <div
    class="eylen-img w-full md:w-1/2 flex justify-center"
  >
    <img
      src="assets/img/eylen.jpg"
      alt="Eylen"
      class="rounded-2xl shadow-xl object-cover w-80 md:w-[400px] h-[400px]"
    />
  </div>

  <!-- Texto -->
  <div class="eylen-text w-full md:w-1/2 text-center md:text-left">
    <h2 class="text-4xl md:text-5xl font-semibold text-[#B68C0E] mb-4 font-playfair">
      soy eylen
    </h2>
    <p class="text-[#4A0E0E] text-base md:text-lg leading-relaxed mb-6">
      Soy Eylen, y mi propósito es guiarte a reconectar con tu cuerpo,
      tu energía y tu autenticidad a través del movimiento consciente.
    </p>
    <app-button
    text="Descubre mis clases"
    color="#C1121F"
    hoverColor="#a00f1a"
    type="button"
  ></app-button>
  </div>
</section>
