<nav class="flex justify-between items-center py-4 px-8 bg-[#f9dada]  relative">
  <h1 class="text-3xl font-normal text-[#340803] font-serif tracking-wider">Eylen</h1>

  <ul class="flex gap-8 text-[#340803] font-semibold text-lg">
    <app-navbar-item name="INICIO" link="/"></app-navbar-item>
    <app-navbar-item name="CLASES" link="/clases"></app-navbar-item>
    <app-navbar-item name="SOBRE MÍ" link="/sobre-mi"></app-navbar-item>
    <app-navbar-item name="CONTACTO" link="/contacto"></app-navbar-item>
  </ul>

  <!-- Botón iniciar sesión -->
  @if (!isLoggedIn) {
    <app-button 
      text="Iniciar sesión" 
      color="#C1121F" 
      hoverColor="#a32f2f"
      type="link"
      link="/login"
      (onClick)="onLoginClick()">
    </app-button>
  }

  <!-- Usuario logueado -->
  @if (isLoggedIn) {
    <div class="relative">
      <!-- Avatar -->
      <div 
        class="w-10 h-10 rounded-full overflow-hidden cursor-pointer transition transform hover:scale-105 shadow-md border-2 border-[#C1121F] hover:border-red-700"
        (click)="toggleMenu()">
        <img [src]="userAvatarUrl" alt="Avatar del usuario" class="w-full h-full object-cover">
      </div>

      <!-- MENÚ DESPLEGABLE -->
      <div 
        #dropdownMenu
        *ngIf="menuOpen"
        class="absolute right-0 mt-3 w-48 bg-white rounded-xl shadow-xl border border-gray-200 py-3 opacity-0 pointer-events-auto z-50 origin-top-right"
      >
        <p class="px-4 py-2 text-sm text-gray-600 border-b">Hola, {{ userName }}</p>

        <button 
          class="w-full text-left px-4 py-2 hover:bg-gray-100 transition"
          (click)="goToProfile()">
          Perfil
        </button>

        @if (user?.role === 'admin') {
          <button 
            class="w-full text-left px-4 py-2 hover:bg-gray-100 transition"
            (click)="goToAdmin()">
            Panel Admin
          </button>
        }

        <button 
          class="w-full text-left px-4 py-2 hover:bg-gray-100 text-red-600 font-semibold transition"
          (click)="logout()">
          Cerrar sesión
        </button>
      </div>
    </div>
  }
</nav>
