<section class="bg-[#fbe3e1] py-20 px-6 md:px-12 text-center">
    <!-- Título -->
    <h2
      class="section-title text-3xl md:text-4xl font-playfair font-bold text-[#3a0000] mb-12"
    >
      Modalidades de clases
    </h2>
  
    <!-- Contenedor de tarjetas -->
    <div
      class="flex flex-wrap justify-center gap-10 max-w-6xl mx-auto"
    >
      <app-modalidades-card
        icon="fa-solid fa-people-group"
        title="Prensencial"
        subtitle="Clase en estudio, conexión directa"
        description="Ideal para las que viven en Armenia y buscan una experiencia sensorial completa."
      ></app-modalidades-card>
  
      <app-modalidades-card
        icon="fa-solid fa-video"
        title="Virtual por Zoom"
        subtitle="Clase guiada en vivo, con corrección personalizada"
        description="Ideal para quienes viven fuera o prefieren aprender desde casa."
      ></app-modalidades-card>
  
      <app-modalidades-card
        icon="fa-solid fa-phone"
        title="Seguimiento personalizado"
        subtitle="Clase en estudio, conexión directa"
        description="Ideal para las que viven en Armenia y buscan una experiencia sensorial completa."
      ></app-modalidades-card>
    </div>
  </section>
  