<section class= "py-16 px-6 text-center">
    <h2 class="text-2xl font-semibold text-[#310D09] mb-12">
      Voces de mujeres que ya viven el baile consciente
    </h2>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center">
      <app-testimonial
        name="Laura"
        text="El baile consciente me ayudó mucho con mi estrés"
        image="https://randomuser.me/api/portraits/women/68.jpg">
      </app-testimonial>
  
      <app-testimonial
        name="Sofía"
        text="El baile consciente me ayudó mucho con mi estrés"
        image="https://randomuser.me/api/portraits/women/45.jpg">
      </app-testimonial>
  
      <app-testimonial
        name="Camila"
        text="El baile consciente me ayudó mucho con mi estrés"
        image="https://randomuser.me/api/portraits/women/24.jpg">
      </app-testimonial>
  
      <app-testimonial
        name="Laura"
        text="El baile consciente me ayudó mucho con mi estrés"
        image="https://randomuser.me/api/portraits/women/68.jpg">
      </app-testimonial>
  
      <app-testimonial
        name="Sofía"
        text="El baile consciente me ayudó mucho con mi estrés"
        image="https://randomuser.me/api/portraits/women/45.jpg">
      </app-testimonial>
  
      <app-testimonial
        name="Camila"
        text="El baile consciente me ayudó mucho con mi estrés"
        image="https://randomuser.me/api/portraits/women/24.jpg">
      </app-testimonial>
  
      <app-testimonial
        name="Laura"
        text="El baile consciente me ayudó mucho con mi estrés"
        image="https://randomuser.me/api/portraits/women/68.jpg">
      </app-testimonial>
  
      <app-testimonial
        name="Sofía"
        text="El baile consciente me ayudó mucho con mi estrés"
        image="https://randomuser.me/api/portraits/women/45.jpg">
      </app-testimonial>
  
      <app-testimonial
        name="Camila"
        text="El baile consciente me ayudó mucho con mi estrés"
        image="https://randomuser.me/api/portraits/women/24.jpg">
      </app-testimonial>
    </div>
  </section>
  