<section class="py-16 text-center flex flex-col items-center bg-[#fdeaea]">
  <h2 class="text-3xl md:text-4xl font-bold text-[#340803] mb-12 font-playfair">
    ¡Quiero comenzar hoy!
  </h2>

  <div class="flex flex-wrap justify-center gap-12">
    <app-paquetes-cards
      *ngFor="let pack of packs"
      [title]="pack.title"
      [price]="pack.price"
      [items]="pack.items"
      [diamonds]="pack.diamonds"
      [buttonColor]="pack.buttonColor"
      [buttonTextColor]="pack.buttonTextColor"
      [backgroundColor]="pack.backgroundColor"
      (selectPack)="openModal(pack)"
    ></app-paquetes-cards>
  </div>

  <!-- ✅ Modal -->
  <app-form-modal
  [isOpen]="isModalOpen"
  [selectedPackage]="selectedPackage"
  (close)="isModalOpen = false"
></app-form-modal>
</section>
