<section class="bg-[#FFB1B8] py-16 relative overflow-hidden">
  <div class="max-w-6xl mx-auto px-8" gsap-fade>
    <!-- Título -->
    <h2
      class="text-3xl md:text-5xl font-bold font-playfair text-[#D4AF37] text-center mb-12"
    >
      {{ storyContent.title }}
    </h2>

    <!-- Contenido principal -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <!-- Texto -->
      <div class="order-2 lg:order-1" gsap-slide-left>
        <div class="prose prose-lg max-w-none">
          <p
            class="text-[#310D09] leading-relaxed font-poppins text-base md:text-2xl font-regular"
          >
            {{ storyContent.text }}
          </p>
        </div>
      </div>

      <!-- Imagen -->
      <div class="order-1 lg:order-2 flex justify-center lg:justify-end" gsap-slide-right>
        <div class="relative">
          <img
            [src]="storyContent.imageSrc"
            [alt]="storyContent.title"
            class="w-full h-full md:w-96 md:h-full object-cover rounded-2xl"
          />
          <div
            class="absolute inset-0 rounded-2xl shadow-2xl opacity-20"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
