<main class="flex-1 grid grid-cols-5 gap-6">
    <!-- Gráfico y calendario -->
    <div class="col-span-8 rounded-2xl">
      <div class="grid grid-cols-3 gap-10">
        <div class="col-span-2">
          <app-sales-donut></app-sales-donut>
        </div>
        <div class="col-span-1">
          <app-upcoming-calendar></app-upcoming-calendar>
        </div>
      </div>
    </div>
  
    <!-- Fila inferior (paquetes, stats y usuarios) -->
    <div class="col-span-12 grid grid-cols-3 gap-6 mt-6">
      <!-- Columna izquierda: Paquetes y Estadísticas -->
      <div class="flex flex-col gap-4 col-span-1">
        <app-top-packages></app-top-packages>
        <app-stats-card></app-stats-card>
      </div>
  
      <!-- Columna derecha: Usuarios -->
      <div class="col-span-2">
        <app-users-list></app-users-list>
      </div>
    </div>
  </main>
  