<aside class="flex flex-col gap-4 items-center p-3 pl-4">
  <nav class="flex flex-col gap-3 w-full items-center">
    <a
      *ngFor="let i of items"
      [routerLink]="i.route"
      [ngClass]="{
        'bg-[#C1121F] text-white scale-105 shadow-md': isActive(i.route),
        'bg-white/80 text-gray-700 hover:bg-[#ffccd1]': !isActive(i.route)
      }"
      class="w-12 h-12 rounded-xl shadow flex items-center justify-center transition transform duration-200"
    >
      <i class="{{ i.icon }}"></i>
    </a>
  </nav>
</aside>
