<div class="min-h-screen  flex flex-col gap-8">
  
    <!-- 🔹 Contenedor principal -->
    <main class="grid grid-cols-1 xl:grid-cols-3 gap-8">
      <!-- 🧍‍♀️ Lista de usuarios (lado izquierdo) -->
      <section class="xl:col-span-2  p-6">
        <app-users-list></app-users-list>
      </section>
  
      <!-- 🔹 Lado derecho: Crear usuario + Estadísticas -->
      <div class="flex flex-col gap-6">
        <!-- Crear usuario -->
        <div class=" p-6">
          <app-create-user></app-create-user>
        </div>
  
        <!-- Estadísticas -->
        <div class=" p-6 flex-1">
          <app-stats-card></app-stats-card>
        </div>
      </div>
    </main>
  </div>
  