<div
  class="bg-white rounded-2xl shadow-md p-6 w-full max-w-sm h-[340px] flex flex-col justify-between items-center text-center transition-transform duration-500 hover:scale-105 hover:shadow-xl"
>
  <img
    [src]="image"
    alt="{{ name }}"
    class="w-20 h-20 rounded-full object-cover border-2 border-[#eab5b5] mb-4"
  />

  <p
    class="text-gray-800 italic leading-relaxed flex-grow flex items-center justify-center text-sm md:text-base"
  >
    “{{ text }}”
  </p>

  <span class="text-[#421010] font-semibold mt-4">{{ name }}</span>
</div>
